@model AuthenticationUserModel

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Registration.css" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <title>@Localizer["PageName"]</title>
</head>

<body>
    <main>
        <div class="circle"></div>
        <div class="register-form-container">
            <form asp-controller="users" asp-action="login" method="post">
                <h1 class="form-title">
                    @Localizer["Authentication"]
                </h1>
                <div class="form-fields">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-field">
                        <input type="email" asp-for="Email" placeholder=@Localizer["Email"] required>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-field">
                        <input type="password" asp-for="Password" placeholder=@Localizer["Password"] required>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-buttons">
                    <button class="button" type="submit">@Localizer["Login"]</button>
                </div>
                <div>
                    <a href='@Url.Action("Registration", "Users")'>@Localizer["Registration"]</a>
                </div>
                <div class="btn-group d-grid gap-2 d-md-flex">
                    <a href='@Url.Action("GoogleLogin", "Users")' class="btn"><img width="35" height="35" src="https://res.cloudinary.com/dtomjloda/image/upload/v1648387124/Apps_to_Use_on_your_shopify_Store_Google_kaklrf.png"></a>
                    <a href='@Url.Action("FacebookLogin", "Users")' class="btn"><img width="40" height="40" src="https://res.cloudinary.com/dtomjloda/image/upload/v1648387124/5cd48fc5ad951_kdztvg.png"></a>
                </div>
            </form>
        </div>

    </main>
</body>
</html>
