@model CompositeReviewModel
@{

    Layout = "_Layout";
}
<link href="~/css/Carousel.css" rel="stylesheet">
<style>
    .carousel {
        width: 800px;
        margin-right: auto;
    }

        .carousel .carousel-item {
            height: 400px;
        }

    .carousel-item img {
        position: absolute;
        object-fit: cover;
        top: 0;
        left: 0;
        min-height: 400px;
    }
</style>
<body>
    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            @for (int i = 0; i < Model.Images.Count; i++)
                            {
                                if (i != 0)
                                {
                                    <div class="carousel-item">
                                        <img src="@Model.Images[i].ImageURL" class="d-block w-100" alt="...">
                                    </div>
                                }
                                else
                                {
                                    <div class="carousel-item active">
                                        <img src="@Model.Images[i].ImageURL" class="d-block w-100" alt="...">
                                    </div>
                                }
                            }
                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Предыдущий</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Следующий</span>
                        </button>
                    </div>
                </div>
                <div class="row" style="margin-top: 20px">
                    <h1 class="text-capitalize text-decoration-underline">@Model.Review.Title</h1>
                    <p class="text-black-50">@Model.Review.UpdateDate.ToShortDateString()      @Model.Review.UserName     Score: @Model.Review.AuthorScore</p>
                </div>
                <div class="row">
                    <p class="text-secondary">
                        @Model.Review.Content
                    </p>
                </div>
                <hr />
                <div class="row" style="clear: both">
                    <h5 style="float: left;">Tags</h5>
                    <p style="float: right;">@Model.Review.Tags</p>
                </div>
            </div>
            <div class="col-3" style="margin-left: auto">
                <table class="table">
                    <thead>
                        <tr style="text-align: center">
                            <th>
                                <h2>Last reviews in this category</h2>
                            </th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center; ">
                        @foreach (var review in Model.LastReviewsInCategory)
                        {
                            <tr>
                                <td>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <a class="btn btn-outline text-black" asp-action="getreview" asp-controller="reviews"
                                           asp-route-type="@review.ReviewType" asp-route-reviewId="@review.ReviewId" asp-route-currentEmail="@User.FindFirstValue(ClaimTypes.Email)">@review.Title</a>
                                    }
                                    else
                                    {
                                        <a class="btn btn-outline text-black" asp-action="getreview" asp-controller="reviews"
                                            asp-route-type="@review.ReviewType" asp-route-reviewId="@review.ReviewId">@review.Title</a>
                                    }
                                    <p class="text-black-50">
                                        @review.UpdateDate.ToShortDateString()     @review.UserName
                                    </p>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
