@model GeneralPageModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";
    Random rand = new Random();
}
@{
    string theme = null;
    httpContextAccessor.HttpContext.Request.Cookies.TryGetValue("theme", out theme);
    if (theme == "dark")
    {
        <link rel="stylesheet" href="~/css/darkGeneralHead.css" type="text/css" />
    }
    if (theme == "light" || theme == null)
    {
        <link rel="stylesheet" href="~/css/generalHead.css" type="text/css" />
    }
}
<link rel="stylesheet" href="~/css/tags.css" type="text/css" />
<div class="container">
    <div class="row">
        <div class="col">
            <div class="header-h5"><h5>@Localizer["Last Reviews"]</h5></div>
            <table class="table table-bordered border-light">
                <tbody>
                    @foreach (var lastReview in Model.LastReviews)
                    {
                        <tr class="MyTable">
                            <th scope="row">@lastReview.CreateDate.ToShortDateString()</th>
                            <td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="link-dark" asp-action="getreview" asp-controller="reviews"
                                       asp-route-type="@lastReview.ReviewType" asp-route-reviewId="@lastReview.ReviewId"
                                       asp-route-currentEmail="@User.FindFirstValue(ClaimTypes.Email)">@lastReview.Title</a>
                                }
                                else
                                {
                                    <a class="link-dark" asp-action="getreviewnoauth" asp-controller="reviews"
                                       asp-route-type="@lastReview.ReviewType" asp-route-reviewId="@lastReview.ReviewId">@lastReview.Title</a>
                                }
                            </td>
                            <td>@lastReview.UserName</td>
                            <td style="text-align: center">
                                <h6>@Localizer["Rating"]</h6>
                                <p>@lastReview.Rating</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="header-h5"><h5>@Localizer["The Most Popular Reviews"]</h5></div>
            <table class="table table-bordered border-light">
                <tbody>
                    @foreach (var popularReview in Model.PopularReviews)
                    {
                        <tr class="MyTable">
                            <th scope="row">@popularReview.CreateDate.ToShortDateString()</th>

                            <td>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <a class="link-dark" asp-action="getreview" asp-controller="reviews" asp-route-currentEmail="@User.FindFirstValue(ClaimTypes.Email)"
                                       asp-route-type="@popularReview.ReviewType" asp-route-reviewId="@popularReview.ReviewId">@popularReview.Title</a>
                                }
                                else
                                {
                                    <a class="link-dark" asp-action="getreviewnoauth" asp-controller="reviews"
                                       asp-route-type="@popularReview.ReviewType" asp-route-reviewId="@popularReview.ReviewId">@popularReview.Title</a>
                                }
                            </td>
                            <td>@popularReview.UserName</td>
                            <td style="text-align: center">
                                <h6>@Localizer["Rating"]</h6>
                                <p>@popularReview.Rating</p>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="col">
            <div class="header-h5"><h5>@Localizer["Tags Cloud"]</h5></div>
            <ul class="cloud" role="navigation" aria-label="Webdev tag cloud">
                @foreach (var tag in Model.Tags)
                {
                    <li><a asp-action="Search" asp-controller="Reviews" asp-route-search="@tag.Tag">@tag.Tag</a></li>
                }
            </ul>
        </div>
    </div>
</div>



