@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @{
        string theme = null;
        httpContextAccessor.HttpContext.Request.Cookies.TryGetValue("theme", out theme);
        if (theme == "dark")
        {
            <link id="linkTheme" href="~/css/bootstrap-dark.min.css" rel="stylesheet">
        }
        if (theme == "light" || theme == null)
        {
            <link id="linkTheme" href="~/css/bootstrap.min.css" rel="stylesheet">
        }
    }

    <link href="~/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="~/lib/dropzone/min/dropzone.min.css" type="text/css" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <header id="header">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
            <div class="container-fluid">
                <a asp-controller="home" asp-action="index" class="navbar-brand fs-1">WORLDVISION</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 fs-4">
                        <li class="nav-item">
                            <a asp-controller="home" asp-action="index" class="nav-link">@Localizer["Main"]</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="reviews" asp-action="getcategories" class="nav-link">@Localizer["Reviews"]</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="home" asp-action="about" class="nav-link">@Localizer["About"]</a>
                        </li>
                    </ul>
                    @using (Html.BeginForm("search", "reviews", FormMethod.Get))
                    {
                        <div class="d-flex" style="margin-right: 10px">
                            <input class="form-control me-2" type="search" placeholder=@Localizer["Search"] aria-label="Search" name="search">
                            <button type="submit" class="btn btn1">@Localizer["Search"]</button>
                        </div>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav me-2">
                            <li class="nav-item">
                                <div class="btn-group" role="group" aria-label="Button group with nested dropdown">
                                    <div class="btn-group" role="group">
                                        <button id="btnGroupDrop1" type="button" class="btn btn1 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                                            @User.FindFirstValue(ClaimTypes.Name)
                                        </button>
                                        <ul class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                                            <li><a class="dropdown-item" asp-action="GetUserReviews" asp-controller="Reviews" asp-route-email="@User.FindFirstValue(ClaimTypes.Email)">@Localizer["My Reviews"]</a></li>
                                            @if (User.IsInRole("Admin"))
                                            {
                                                <li><a class="dropdown-item" asp-action="GetUsers" asp-controller="Users">@Localizer["Users"]</a></li>
                                            }
                                            <li><a class="dropdown-item" asp-action="logout" asp-controller="users">@Localizer["Logout"]</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav me-2">
                            <li class="nav-item">
                                <a asp-controller="users" asp-action="authentication" class="btn btn-outline-primary">@Localizer["Login"]</a>
                            </li>
                        </ul>

                    }
                </div>
            </div>
        </nav>

    </header>

    <div id="main">
        @RenderBody()
    </div>
    <footer id="footer" class="footer-1">
        <div class="main-footer widgets-dark typo-light">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget subscribe no-box">
                            <h5 class="widget-title">WorldVision<span></span></h5>
                            <p>@Localizer["Description"]</p>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="widget no-box">
                            <h5 class="widget-title">@Localizer["Links"]<span></span></h5>
                            <ul class="thumbnail-widget">
                                <li>
                                    <div class="thumb-content"><a asp-controller="home" asp-action="index">@Localizer["Main"]</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a asp-controller="reviews" asp-action="getcategories">@Localizer["Reviews"]</a></div>
                                </li>
                                <li>
                                    <div class="thumb-content"><a asp-controller="home" asp-action="about">@Localizer["About"]</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3">
                        <div class="widget no-box">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <h5 class="widget-title">@Localizer["AuthH"]<span></span></h5>
                                <p>@Localizer["AuthP"]</p>
                            }
                            else
                            {
                                <h5 class="widget-title">@Localizer["NoAuthH"]<span></span></h5>
                                <p>@Localizer["NoAuthP"]</p>
                                <a asp-controller="users" asp-action="registration" class="btn btn1" target="_blank">@Localizer["Regisration"]</a>
                            }

                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="widget no-box">
                            <h5 class="widget-title">@Localizer["Any questions"]<span></span></h5>
                            <p><a href="mailto:ilya.br21@gmail.com" title="glorythemes">ilya.br21@gmail.com</a></p>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-2">
                        <div class="widget no-box">
                            @await Html.PartialAsync("_SelectLanguagePartial")
                            <h5 class="widget-title">@Localizer["Theme"]</h5>
                            <form method="post">
                                @{ string nowTheme = null;

                                    httpContextAccessor.HttpContext.Request.Cookies.TryGetValue("theme", out nowTheme);
                                    if (nowTheme == "dark")
                                    {
                                        <div class="form-check form-switch">
                                            <input id="Theme" class="form-check-input" checked type="checkbox" onchange='changeCSS()' ;>
                                            <label class="form-check-label">@Localizer["DarkTheme"]</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="form-check form-switch">
                                            <input id="Theme" class="form-check-input" type="checkbox" onchange='changeCSS()' ;>
                                            <label class="form-check-label">@Localizer["DarkTheme"]</label>
                                        </div>
                                    }
                                }
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <p>Copyright WorldVision © 2022. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script type="text/javascript" src="@Url.Content("~/js/bootstrap.bundle.min.js")"></script>
    <script src="~/js/changeTheme.js"></script>
</body>
</html>